@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex align-items-center" style="background-color:lavender;">
            <h1  class="nav-item flex-fill"><b>Welcome to Movie Tickets Online!</b></h1>
            <TopMenu/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<BlazoredToasts/>
<style>
    .page{
        background-color:lavender;
        color:darkslateblue;
    }
</style>
