@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OnlineTickets</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView>
                    <NotAuthorized>
                    <NavLink class="nav-link" href="login">
                        <span aria-hidden="true"></span> Login
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    <a class="nav-link" @onclick="@Logout">
                        <span aria-hidden="true"></span>Logout
                    </a>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movies">
                <span aria-hidden="true"></span> Movies
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="actors">
                <span aria-hidden="true"></span> Actors
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="producers">
                <span aria-hidden="true"></span> Producers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cinemas">
                <span aria-hidden="true"></span> Cinemas
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task Logout()
    {
       await LocalStorageService.RemoveItemAsync("username");
       await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}
