@page "/actors"

@using OnlineTickets.Client.Services.MovieServices
@inject IActorService ActorService

<h3>Actors</h3>

<div class="row">
    @foreach (var actor in ActorService.Actors)
    {
        <div class="col-md-4 border-primary mb-2">
            <div class="card mb-2" style="width:200px; height:350px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class=" card-title">
                                    <a href="/actor/@actor.ActorId" class="text-white">@actor.ActorName</a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="/actor/@actor.ActorId">
                            <img class="media-img" src="@actor.ActorProfilePictureURL" alt="@actor.ActorName" style="width:200px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@code {
    protected override void OnInitialized()
    {
        ActorService.GetActorsList();
    }

}
