@page "/"

@inject ISyncLocalStorageService SyncLocalStorageService
@inject IStatsService StatsService

<AuthorizeView>
    <NotAuthorized>
        <h1><b>Welcome!</b></h1>
    </NotAuthorized>
    <Authorized>
        <h1><b>Welcome back, @SyncLocalStorageService.GetItemAsString("username")!</b></h1>
    </Authorized>
</AuthorizeView>



@code{
    protected override async Task OnInitializedAsync()
    {
        await StatsService.IncrementVisits();
        await StatsService.GetVisits();
    }
}

