@page "/"

@inject ISyncLocalStorageService SyncLocalStorageService


<AuthorizeView>
    <NotAuthorized>
        <h1><b>Welcome!</b></h1>
    </NotAuthorized>
    <Authorized>
        <h1><b>Welcome back, @SyncLocalStorageService.GetItemAsString("username")!</b></h1>
    </Authorized>
</AuthorizeView>



@code{
   
}

