@page "/producers"

@using OnlineTickets.Client.Services.MovieServices
@inject IProducerService ProduserService

<h3><b>Producers</b></h3>

<div class="row">
    @foreach (var producer in allProducers)
    {
        <div class="col-md-4 border-primary mb-2">
            <div class="card mb-2" style="width:200px; height:350px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class=" card-title">
                                    <a href="/producer/@producer.ProducerId" class="text-white">
                                        @producer.ProducerName</a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="/producer/@producer.ProducerId">
                            <img class="media-img" src="@producer.ProducerProfilePictureURL" alt="@producer.ProducerName" style="width:200px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    List<Producer> allProducers = new List<Producer>();
    protected override async Task OnInitializedAsync()
    {
      allProducers =  await ProduserService.GetProducersList();
    }
}
